<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407051025653-nf0cl3pip3f5m3milei6fr97joq12bnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407051025653-nf0cl3pip3f5m3milei6fr97joq12bnk</string>
	<key>API_KEY</key>
	<string>AIzaSyAG40UyyNARfK7MhRYBfxDaVcsIK3t8Q6o</string>
	<key>GCM_SENDER_ID</key>
	<string>407051025653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS3217.Sweechat</string>
	<key>PROJECT_ID</key>
	<string>sweechat-60d41</string>
	<key>STORAGE_BUCKET</key>
	<string>sweechat-60d41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407051025653:ios:2e40b511efdbb1278219bc</string>
</dict>
</plist>
