<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703864432351-uthnpi9jhh8auj26bmk4tqdpphsb02ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703864432351-uthnpi9jhh8auj26bmk4tqdpphsb02ev</string>
	<key>API_KEY</key>
	<string>AIzaSyA3QJJuudSOOZxRaBOxtI72EHLDOalUOgM</string>
	<key>GCM_SENDER_ID</key>
	<string>703864432351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS3217.2021.Sweechat</string>
	<key>PROJECT_ID</key>
	<string>sweechat-f2e46</string>
	<key>STORAGE_BUCKET</key>
	<string>sweechat-f2e46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703864432351:ios:baf718876619370ccd2b6a</string>
</dict>
</plist>